@use 'sass:map';
@use '../../../node_modules/roboto-fontface/css/roboto/sass/roboto-fontface-regular.scss';

@mixin typography {
  font-size: 13px;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
}

$width: 250px;
$height: 150px;
$slider-width: 60px;

@mixin generate($colors) {
  .scaptcha-anchor-container {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: map.get($colors, 'anchor-background');
    width: 100%;
    height: 50px;
    padding: 13px;
    max-width: 400px;
  }

  .scaptcha-anchor-checkbox {
    display: inline-block;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    height: 24px;
    width: 24px;
    padding-left: 3.5px;
    cursor: pointer;
    background-color: map.get($colors, 'anchor-checkbox');
  }

  .scaptcha-anchor-label {
    @include typography;
    display: inline-block;
    color: map.get($colors, 'anchor-label');
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    vertical-align: middle;
    line-height: 6px;
    height: 100%;
    margin-left: 13px;
  }

  .scaptcha-card-background {
    width: $width;
    height: $height;
  }

  .scaptcha-card-loading {
    margin: 15px;
    position: absolute;
    top: 0;
    left: 0;
    min-width: $width;
    min-height: $height;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  .scaptcha-card-container {
    position: absolute;
    padding: 15px 15px 0px 15px;
    min-width: $width + 30px;
    min-height: $height + 63px;
    background-color: map.get($colors, 'card-background');
    box-shadow: 0px -1px 0px -2px rgba(0, 0, 0, 0.2),
      0px 2px 9px 0px rgba(0, 0, 0, 0.14), 0px 5px 9px 0px rgba(0, 0, 0, 0.15);
    margin-top: -110px - $height;
  }

  @media only screen and (max-width: 400px) {
    .scaptcha-card-container {
      margin-left: -13px;
    }
  }

  .scaptcha-card-slider-puzzle {
    margin-left: 15px;
    margin-top: 15px;
    position: absolute;
    left: 5px;
    top: 0;
    height: $height;
    width: $slider-width;
    cursor: pointer;
  }

  .scaptcha-card-slider-control {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1px;
  }

  .scaptcha-card-slider-control-default {
    background-color: map.get($colors, 'card-control-background');
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }

  .scaptcha-card-slider-control-active, .scaptcha-card-slider-control-success, .scaptcha-card-slider-control-failure {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  }

  .scaptcha-card-slider-control-active {
    background-color: map.get($colors, 'card-control-active');
  }

  .scaptcha-card-slider-control-success {
    background-color: map.get($colors, 'card-control-success');
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  }

  .scaptcha-card-slider-control-failure {
    background-color: map.get($colors, 'card-control-failure');
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  }

  .scaptcha-card-slider-container {
    margin-top: 7px;
    position: relative;
    height: 44px;
    width: $width;
  }

  .scaptcha-card-slider-track {
    box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 3px;
    left: 0;
    width: $width;
    height: 24px;
    background-color: map.get($colors, 'card-track-background');
    border-radius: 12px;
  }

  .scaptcha-card-slider-mask {
    box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 3px;
    left: 0;
    width: 0;
    height: 24px;
    border-radius: 12px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }

  .scaptcha-card-slider-track-default, .scaptcha-card-slider-track-active {
    background-color: map.get($colors, 'card-track-active');
  }

  .scaptcha-card-slider-track-success {
    background-color: map.get($colors, 'card-track-success');
  }

  .scaptcha-card-slider-track-failure {
    background-color: map.get($colors, 'card-track-failure');
  }

  .scaptcha-card-slider-label {
    color: map.get($colors, 'card-track-label');
    padding-left: 20px;
    position: absolute;
    top: 3px;
    left: 0;
    width: $width;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    @include typography;
    line-height: 1;
  }

  .scaptcha-hidden {
    background: none;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: fixed;
  }
}
