@use 'style';

$colors: (
  'card-control-background': #242222,
  'card-control-active': #0889e4,
  'card-control-success': rgb(53, 221, 116),
  'card-control-failure': rgb(228, 8, 8),
  'card-control-label': #c6c6c6,
  'card-track-background': #353535,
  'card-track-active': #3caeff,
  'card-track-success': rgb(131, 247, 136),
  'card-track-failure': rgb(255, 60, 60),
  'card-track-label': #716e6e,
  'card-background': #1a1a1a,
  'anchor-background': #1c1919,
  'anchor-checkbox': #535353,
  'anchor-label': #c6c6c6,
);

.scaptcha-icon-light {
  display: none;
}

.scaptcha-icon-dark {
  display: block;
}

@include style.generate($colors);
